
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #174E70;
    --secondary-color: #333333;
    --primary-color-font: #FCFFFF;
    --secondary-color-font:#333333;
    --titles-font: "Josefin sans", sans-serif;
}

nav{
    background-color: var(--secondary-color);
    margin: auto;
    width: auto;
}

nav ul{
    list-style-type: none;
}

nav a{
    display: block;
    color: var(--primary-color-font);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-family: var(--titles-font);
    font-size: 18px;
}

nav a:hover{
    color: yellow;
}

nav ul{
    display: flex;
}

nav ul li{
    flex: 1 1 100%;
}